<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initia-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://kit.fontawesome.com/20029bacee.js" crossorigin="anonymous"></script>
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script> -->

    <!-- The title goes here -->
    <title>
    {% block title %}    {% endblock %}
    </title>

  <style media="screen">
    /* Màn hình dài tới cuối trang*/
    html,body{
      height:100%;
      background-color: #dfe6e9;
    }

    @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

  </style>
  </head>
  <body>
    <div style="min-height:95%">


      <!-- ------------ Header goes here ------------>
      {% include "pages/header.html" %}


      <!-- -------------- Body goes here ------------>
      {% block content %}

      {% endblock %}

    </div>

    <!-- --------------- Footer goes here --------------- -->
    <footer>
      {% include "pages/footer.html" %}
    </footer>
  </body>
</html>
