{% load static %}

<div class="footer-icons">
  <a href="#" class = "footer-btn"> <i class="fab fa-facebook-f"></i> </a>
  <a href="#" class = "footer-btn"> <i class="fab fa-twitter"></i> </a>
  <a href="#" class = "footer-btn"> <i class="fab fa-github"></i> </a>
  <a href="#" class = "footer-btn"> <i class="fab fa-skype"></i></i> </a>
</div>
<hr>
<div class="footer-menu">
  <ul>
    <li> <a href="/">Home</a> </li>
    <li> <a href="{% url 'blog_home' %}">Blog</a> </li>
    <li> <a href="{% url 'contact_home' %}">Contact</a> </li>
  </ul>
</div>
<div class="footer-bottom">
  <p>Designed by Vũ Ánh Minh via <a href="/">Learning Tutorial Point</a></p>
</div>
