{% load static %}

<!--
<div class="row">
  <div class="col-sm-2">
    <center><img src="{% static "image/avatar.png" %}" class="responsive-img" style="max-height:150px">  </center>
  </div>
  <div class="col-sm-8">
    <center> <h1>Blog làm từ python Django </h1> </center>
  </div>
  <div class="col-sm-2">
    {% if user.username %}
    <p>Xin chào {{user.username}}</p>
    <p> <a href="{% url 'logout' %}">Đăng xuất</a> </p>
    {% else %}
    <a href="{% url 'register' %}">Đăng ký</a>  |  <a href="{% url 'login' %}">Đăng nhập</a>
    {% endif %}
  </div>
</div>
-->

  <div class="header">
    <div class="inner-header">
      <div class="logo-container">
        <a href="/">MY<span>SITE</span> </a>
      </div>
      <ul class="navigation">
        <a href="/"> <li>Home</li> </a>
        <a href="{% url 'blog_home' %}"> <li>Blog</li> </a>
        <a href="{% url 'contact_home' %}"> <li>Contact</li> </a>
        {% if user.username %}
        <a><li>Hello {{user.username}}</li></a>
        <a href="{% url 'logout' %}"> <li>Logout</li></a>
        {% else %}
        <a href="{% url 'register' %}"> <li>Register</li></a>
        <a href="{% url 'login' %}"><li>Login</li></a>
        {% endif %}
      </ul>
    </div>
  </div>
